/* Activity */
.dashboard .activity {
    font-size: 14px;
  }
  
  /* .dashboard .activity .activity-item .activite-label {
    color: #888;
    position: relative;
    flex-shrink: 0;
    flex-grow: 0;
    max-width: 50%;
  }
  
  .dashboard .activity .activity-item .activite-label::before {
    content: '';
    position: absolute;
    width: 4px;
    top: 0;
    bottom: 0;
    background-color: #eceefe;
  }
  
  .dashboard .activity .activity-item .activity-badge {
    margin-top: 3px;
    z-index: 1;
    font-size: 11px;
    line-height: 0;
    border-radius: 50%;
    flex-shrink: 0;
    border: 3px solid #fff;
    flex-grow: 0;
  } */
  .activityCard{
    border-left: 6px solid #012970;
    border-bottom: 6px solid #012970;

  }
  .activityCard .title{
    padding-block: 2rem;
  }
  .dashboard .activity .activity-item .activity-content {
    padding-left: 10px;
  }
  
  .dashboard .activity .activity-item:first-child .activite-label::before {
    top: 5px;
  }
  
  .dashboard .activity .activity-item:last-child .activity-content {
    padding-bottom: 0;
  }
  .activityCard .title{
    font-weight: bold;
    color: #012970;
  }