.datepicker{
    border: 0;
    padding: 0.9rem;
    border-radius: 0.9rem;
    color:  #012970;
}
.feeCollectionTitle{
    font-size: 1.2rem;
    font-weight: 700;
}
@media (max-width:620px){
    .feeCollectionTitle{
    font-size: 1rem;
    }
}
input::placeholder{
    font-weight: 400;
}
.react-datepicker__input-container input::placeholder {
    font-weight: 400;
}  
.month_seelct{
    border: 2px solid #012970;
    width: 7rem;
    padding: 7px;
    border-radius: 10px;
    cursor: pointer;
    float: right;
    margin-top: -2.8rem;
}
.stats-card{
    border-left: 6px solid #012970;
    border-bottom: 6px solid #012970;
}